// settings
$font-main: "Poppins", sans-serif;
$font-main2: "Archivo", sans-serif;
$fontIcon: "icomoon";

:root {
    --Black: #000000;
    --White: #ffffff;
    --Body-text: #666666;
    --Primary: #4f60fa;
    --Text: #73799b;
    --Text-2: #cac9d1;
    --Text-3: #f4f7ff;
    --Text-4: #fcfcfc;
    --Text-5: #eeeeee;
    --Text-6: #9e9e9e;
    --Bg: #00031c;
    --Bg-2: #c46ff8;
    --Bg-3: #251d59;
    --Bg-4: #0075ff;
    --Bg-5: #dbe3ff;
    --Bg-6: #5935e9;
    --Bg-7: #00041e;
    --Bg-8: #131331;
    --Bg-9: #211f9c;
    --Bg-10: #1e1d59;
    --Border: #202468;
    --Border-2: #9a9dc1;
    --Border-3: #20248659;
    --Border-4: #a68cf0;
    --Border-5: #2024864d;
}
